In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('../Data/MidnightCleanedData.csv',low_memory=False)
dfNoMidnight = pd.read_csv('../Data/noMidnightCleanedData.csv',low_memory=False)

In [33]:
df = df.sample(n=100000, random_state=1)
dfNoMidnight = dfNoMidnight.sample(n=100000, random_state=1)

In [34]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.day_name()
df[['Longitude', 'Latitude']] = df['Location'].str.split(',', n=1, expand=True)
df['Longitude'] = df['Longitude'].str[1:]
df['Latitude'] = df['Latitude'].str[:-1]

dfNoMidnight['Date'] = pd.to_datetime(dfNoMidnight['Date'])
dfNoMidnight['Day'] = dfNoMidnight['Date'].dt.day_name()
dfNoMidnight[['Longitude', 'Latitude']] = dfNoMidnight['Location'].str.split(',', n=1, expand=True)
dfNoMidnight['Longitude'] = dfNoMidnight['Longitude'].str[1:]
dfNoMidnight['Latitude'] = dfNoMidnight['Latitude'].str[:-1]

In [35]:
df = df[["Longitude","Latitude","Street","Day","Violation Code"]]

dfNoMidnight = dfNoMidnight[["Longitude","Latitude","Street","Day","Violation Code","Time Range"]]

In [36]:
df.to_csv("../Data/cleanedSample.csv",index=False)

dfNoMidnight.to_csv("../Data/cleanedSampleNoMidnight.csv",index=False)

In [37]:
df

         Longitude     Latitude       Street        Day  Violation Code
532168  49.8890433   -97.213038  Marjorie ST     Monday              37
8867       49.8898     -97.1458  Edmonton ST     Friday               1
34212      49.8958     -97.1463  Hargrave ST     Monday               2
298521  49.8898833   -97.147008  St Mary AVE   Thursday               1
318055  49.8898433   -97.136936      Fort ST  Wednesday               1
...            ...          ...          ...        ...             ...
250830    49.89204    -97.13961     Garry ST     Friday               1
421638  49.8993933   -97.140131      King ST     Friday               1
148043     49.9046     -97.1575  William AVE     Friday               3
588513     49.8868     -97.1458   Kennedy ST    Tuesday               1
321385  49.8921283    -97.15248  Balmoral ST  Wednesday               1

[100000 rows x 5 columns]

In [38]:
dfNoMidnight

,Longitude,Latitude,Street,Day,Violation Code,Time Range
34799,49.89018,-97.142286,Donald ST,Friday,1,Daytime (9:00am-3:30pm)
58048,49.8972,-97.1349,Bannatyne AVE,Thursday,1,Daytime (9:00am-3:30pm)
4273,49.884645,-97.144515,Kennedy ST,Monday,13,Evening (5:00pm-11:00pm)
487104,49.890795,-97.140983,St Mary AVE,Tuesday,1,Daytime (9:00am-3:30pm)
339722,49.8630783,-97.144373,Osborne ST,Wednesday,1,Daytime (9:00am-3:30pm)
...,...,...,...,...,...,...
207481,49.8896633,-97.148775,Vaughan ST,Wednesday,13,Daytime (9:00am-3:30pm)
346576,49.8871383,-97.14404,Edmonton ST,Thursday,1,Rush Hour Morning (7:30am-9:00am)
63693,49.9046,-97.1574,William AVE,Wednesday,3,Rush Hour Morning (7:30am-9:00am)
472832,49.894165,-97.136211,Pioneer AVE,Tuesday,1,Rush Hour Evening (3:30pm-5:00pm)
160734,49.8873266,-97.145835,Kennedy ST,Thursday,1,Daytime (9:00am-3:30pm)