In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../Data/mergedCodesandRangesCleanedData.csv',low_memory=False)

In [8]:
df = df.sample(n=100000, random_state=1)

In [9]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.day_name()
df[['Longitude', 'Latitude']] = df['Location'].str.split(',', n=1, expand=True)
df['Longitude'] = df['Longitude'].str[1:]
df['Latitude'] = df['Latitude'].str[:-1]

In [10]:
df["Violation Code"] = df["Violation Code"].astype(str)

In [11]:
df = df[["Longitude","Latitude","Street","Day","Violation Code"]]

In [12]:
df.to_csv("../Data/cleanedSample.csv",index=False)

In [13]:
df

         Longitude     Latitude              Street        Day Violation Code
73190      49.8926     -97.1536           Spence ST    Tuesday            nan
23062      49.8893     -97.1476         St Mary AVE    Tuesday            nan
223349   49.839515   -97.151106  LOT72-1360 PEMBINA    Tuesday            nan
494862    49.89369    -97.15387           Spence ST  Wednesday            nan
1662       49.8987     -97.1334           James AVE     Friday            nan
...            ...          ...                 ...        ...            ...
145534     49.9037     -97.1661      Notre Dame AVE     Monday            nan
555353     49.8917     -97.1428           Donald ST    Tuesday            nan
59694      49.8852     -97.1419          Carlton ST    Tuesday            nan
76446      49.8928     -97.1549          Ellice AVE   Thursday            nan
526841  49.8931433   -97.154835            Young ST    Tuesday            nan

[100000 rows x 5 columns]