In [50]:
import pandas as pd

In [51]:
df = pd.read_csv("../Data/2016_and_on.csv")

In [52]:
counts = df['Time'].value_counts()

# print the counts
print(counts)

0:00:00     97040
15:32:46       60
15:33:10       59
15:32:58       57
15:32:40       57
            ...
5:37:48         1
22:13:55        1
19:09:20        1
19:04:20        1
17:22:05        1
Name: Time, Length: 76434, dtype: int64

In [53]:
#df = df[df['Time'] != '00:00:00']
#df = df[df['Time'] != '0:00:00']
counts = df['Time'].value_counts()

# print the counts
print(counts)

0:00:00     97040
15:32:46       60
15:33:10       59
15:32:58       57
15:32:40       57
            ...
5:37:48         1
22:13:55        1
19:09:20        1
19:04:20        1
17:22:05        1
Name: Time, Length: 76434, dtype: int64

In [54]:
# convert the 'time' column to a datetime format
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S')

In [55]:
df['Time'].min()

Timestamp('1900-01-01 00:00:00')

In [56]:
df['Time'].max()

Timestamp('1900-01-01 23:59:59')

In [57]:
df

,Unnamed: 0,Date,Time,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description
0,0,2021-11-15,1900-01-01,Mayfair PL,"(49.8822, -97.1381)",70.0,52.5,P17,Too close to a traffic sign
1,1,2021-11-15,1900-01-01,Wentworth ST,"(49.8714, -97.1612)",70.0,52.5,P17,Too close to a traffic sign
2,2,2021-11-15,1900-01-01,LOT128-960 THOMAS,"(49.8987, -97.0846)",70.0,52.5,P16,No Park
3,3,2021-11-15,1900-01-01,Lloyd ST,"(49.873, -97.1171)",100.0,75.0,P13,Fire Hydrant
4,4,2021-11-15,1900-01-01,Haggart AVE,"(49.9497, -97.2169)",70.0,52.5,P04,Oversized Vehicle
...,...,...,...,...,...,...,...,...,...
590058,909912,2023-01-02,1900-01-01,Balmoral ST,"(49.8823, -97.1546)",100.0,75.0,P69,Annual Winter Route
590059,909913,2023-01-02,1900-01-01,Carlton ST,"(49.8914, -97.1446)",100.0,75.0,P69,Annual Winter Route
590060,909914,2022-12-08,1900-01-01,Olivia ST,"(49.9025, -97.1583)",60.0,45.0,P01,Meter Expired
590061,909915,2022-12-09,1900-01-01,Lombard AVE,"(49.8962, -97.1376)",70.0,52.5,P12,L/Z Overtime
590062,909916,2023-02-05,1900-01-01,Sinclair ST,"(49.954, -97.1327)",100.0,75.0,P69,Annual Winter Route

In [58]:
time_ranges = [pd.to_datetime('00:00:00', format='%H:%M:%S'),
               pd.to_datetime('05:30:00', format='%H:%M:%S'),
               pd.to_datetime('07:30:00', format='%H:%M:%S'),
               pd.to_datetime('09:00:00', format='%H:%M:%S'),
               pd.to_datetime('15:30:00', format='%H:%M:%S'),
               pd.to_datetime('17:00:00', format='%H:%M:%S'),
               pd.to_datetime('23:00:00', format='%H:%M:%S'),
               pd.to_datetime('23:59:59', format='%H:%M:%S')]

# create a new column with the time ranges
df['Time Range'] = pd.cut(df['Time'], bins=time_ranges, labels=['Overnight 2 (12:00am-5:30am)','Early Morning (5:30am-7:30am)','Rush Hour Morning (7:30am-9:00am)', 'Daytime (9:00am-3:30pm)','Rush Hour Evening (3:30pm-5:00pm)', 'Evening (5:00pm-11:00pm)', 'Overnight 1 (11:00pm-12:00am)'])
df

,Unnamed: 0,Date,Time,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description,Time Range
0,0,2021-11-15,1900-01-01,Mayfair PL,"(49.8822, -97.1381)",70.0,52.5,P17,Too close to a traffic sign,NaN
1,1,2021-11-15,1900-01-01,Wentworth ST,"(49.8714, -97.1612)",70.0,52.5,P17,Too close to a traffic sign,NaN
2,2,2021-11-15,1900-01-01,LOT128-960 THOMAS,"(49.8987, -97.0846)",70.0,52.5,P16,No Park,NaN
3,3,2021-11-15,1900-01-01,Lloyd ST,"(49.873, -97.1171)",100.0,75.0,P13,Fire Hydrant,NaN
4,4,2021-11-15,1900-01-01,Haggart AVE,"(49.9497, -97.2169)",70.0,52.5,P04,Oversized Vehicle,NaN
...,...,...,...,...,...,...,...,...,...,...
590058,909912,2023-01-02,1900-01-01,Balmoral ST,"(49.8823, -97.1546)",100.0,75.0,P69,Annual Winter Route,NaN
590059,909913,2023-01-02,1900-01-01,Carlton ST,"(49.8914, -97.1446)",100.0,75.0,P69,Annual Winter Route,NaN
590060,909914,2022-12-08,1900-01-01,Olivia ST,"(49.9025, -97.1583)",60.0,45.0,P01,Meter Expired,NaN
590061,909915,2022-12-09,1900-01-01,Lombard AVE,"(49.8962, -97.1376)",70.0,52.5,P12,L/Z Overtime,NaN
590062,909916,2023-02-05,1900-01-01,Sinclair ST,"(49.954, -97.1327)",100.0,75.0,P69,Annual Winter Route,NaN

In [59]:
df = df.drop(['Unnamed: 0', 'Time'], axis=1)
df

,Date,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description,Time Range
0,2021-11-15,Mayfair PL,"(49.8822, -97.1381)",70.0,52.5,P17,Too close to a traffic sign,NaN
1,2021-11-15,Wentworth ST,"(49.8714, -97.1612)",70.0,52.5,P17,Too close to a traffic sign,NaN
2,2021-11-15,LOT128-960 THOMAS,"(49.8987, -97.0846)",70.0,52.5,P16,No Park,NaN
3,2021-11-15,Lloyd ST,"(49.873, -97.1171)",100.0,75.0,P13,Fire Hydrant,NaN
4,2021-11-15,Haggart AVE,"(49.9497, -97.2169)",70.0,52.5,P04,Oversized Vehicle,NaN
...,...,...,...,...,...,...,...,...
590058,2023-01-02,Balmoral ST,"(49.8823, -97.1546)",100.0,75.0,P69,Annual Winter Route,NaN
590059,2023-01-02,Carlton ST,"(49.8914, -97.1446)",100.0,75.0,P69,Annual Winter Route,NaN
590060,2022-12-08,Olivia ST,"(49.9025, -97.1583)",60.0,45.0,P01,Meter Expired,NaN
590061,2022-12-09,Lombard AVE,"(49.8962, -97.1376)",70.0,52.5,P12,L/Z Overtime,NaN
590062,2023-02-05,Sinclair ST,"(49.954, -97.1327)",100.0,75.0,P69,Annual Winter Route,NaN

In [60]:
df.to_csv("../Data/InclMidnightData.csv",index=False)