In [31]:
import pandas as pd

In [73]:
df = pd.read_csv("../Data/2016_and_on.csv")

In [74]:
counts = df['Time'].value_counts()

# print the counts
print(counts)

0:00:00     97040
15:32:46       60
15:33:10       59
15:32:58       57
15:32:40       57
            ...
5:37:48         1
22:13:55        1
19:09:20        1
19:04:20        1
17:22:05        1
Name: Time, Length: 76434, dtype: int64

In [75]:
df = df[df['Time'] != '00:00:00']
df = df[df['Time'] != '0:00:00']
counts = df['Time'].value_counts()

# print the counts
print(counts)

15:32:46    60
15:33:10    59
15:32:58    57
15:32:40    57
15:32:52    56
            ..
5:37:48      1
22:13:55     1
19:09:20     1
19:04:20     1
17:22:05     1
Name: Time, Length: 76433, dtype: int64

In [76]:
# convert the 'time' column to a datetime format
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S')

In [77]:
df['Time'].min()

Timestamp('1900-01-01 00:00:02')

In [78]:
df['Time'].max()

Timestamp('1900-01-01 23:59:59')

In [81]:
df

,Unnamed: 0,Date,Time,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description
58621,58626,2020-03-04,1900-01-01 11:28:46,Hargrave ST,"(49.8898, -97.1428)",60.0,45.0,P01,Meter Expired
58626,58631,2019-07-06,1900-01-01 01:11:38,St Charles ST,"(49.878495, -97.320433)",70.0,52.5,P04,Oversized Vehicle
58628,58633,2020-03-10,1900-01-01 12:15:56,Panet RD,"(49.9022, -97.0701)",100.0,75.0,P09,Too close/in an intersection
58639,58644,2019-06-28,1900-01-01 18:07:46,Corydon AVE,"(49.87113, -97.152496)",70.0,52.5,P06,No Stop
58648,58653,2020-03-25,1900-01-01 08:37:49,Hargrave ST,"(49.8855, -97.1402)",60.0,45.0,P01,Meter Expired
...,...,...,...,...,...,...,...,...,...
555142,874996,2019-06-08,1900-01-01 11:44:53,Pembina HWY,"(49.8357733, -97.150816)",100.0,75.0,P09,Too close/in an intersection
555143,874997,2019-05-28,1900-01-01 20:41:31,Martha ST,"(49.9008383, -97.13548)",70.0,52.5,P17,Too close to a traffic sign
555144,874998,2019-06-05,1900-01-01 21:17:06,Rothesay ST,"(49.9374583, -97.080105)",70.0,52.5,P19,Crosswalk (MRKD/UNMRKD)
555145,874999,2019-05-16,1900-01-01 16:59:59,McDermot AVE,"(49.897315, -97.140835)",60.0,45.0,P01,Meter Expired
555146,875000,2019-06-12,1900-01-01 15:49:53,Dagmar ST,"(49.899025, -97.145611)",60.0,45.0,P01,Meter Expired

In [82]:
time_ranges = [pd.to_datetime('00:00:00', format='%H:%M:%S'),
               pd.to_datetime('05:30:00', format='%H:%M:%S'),
               pd.to_datetime('07:30:00', format='%H:%M:%S'),
               pd.to_datetime('09:00:00', format='%H:%M:%S'),
               pd.to_datetime('15:30:00', format='%H:%M:%S'),
               pd.to_datetime('17:00:00', format='%H:%M:%S'),
               pd.to_datetime('23:00:00', format='%H:%M:%S'),
               pd.to_datetime('23:59:59', format='%H:%M:%S')]

# create a new column with the time ranges
df['Time Range'] = pd.cut(df['Time'], bins=time_ranges, labels=['Overnight 2 (12:00am-5:30am)','Early Morning (5:30am-7:30am)','Rush Hour Morning (7:30am-9:00am)', 'Daytime (9:00am-3:30pm)','Rush Hour Evening (3:30pm-5:00pm)', 'Evening (5:00pm-11:00pm)', 'Overnight 1 (11:00pm-12:00am)'])

In [83]:
df = df.drop(['Unnamed: 0', 'Time'], axis=1)
df

,Date,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description,Time Range
58621,2020-03-04,Hargrave ST,"(49.8898, -97.1428)",60.0,45.0,P01,Meter Expired,Daytime (9:00am-3:30pm)
58626,2019-07-06,St Charles ST,"(49.878495, -97.320433)",70.0,52.5,P04,Oversized Vehicle,Overnight 2 (12:00am-5:30am)
58628,2020-03-10,Panet RD,"(49.9022, -97.0701)",100.0,75.0,P09,Too close/in an intersection,Daytime (9:00am-3:30pm)
58639,2019-06-28,Corydon AVE,"(49.87113, -97.152496)",70.0,52.5,P06,No Stop,Evening (5:00pm-11:00pm)
58648,2020-03-25,Hargrave ST,"(49.8855, -97.1402)",60.0,45.0,P01,Meter Expired,Rush Hour Morning (7:30am-9:00am)
...,...,...,...,...,...,...,...,...
555142,2019-06-08,Pembina HWY,"(49.8357733, -97.150816)",100.0,75.0,P09,Too close/in an intersection,Daytime (9:00am-3:30pm)
555143,2019-05-28,Martha ST,"(49.9008383, -97.13548)",70.0,52.5,P17,Too close to a traffic sign,Evening (5:00pm-11:00pm)
555144,2019-06-05,Rothesay ST,"(49.9374583, -97.080105)",70.0,52.5,P19,Crosswalk (MRKD/UNMRKD),Evening (5:00pm-11:00pm)
555145,2019-05-16,McDermot AVE,"(49.897315, -97.140835)",60.0,45.0,P01,Meter Expired,Rush Hour Evening (3:30pm-5:00pm)
555146,2019-06-12,Dagmar ST,"(49.899025, -97.145611)",60.0,45.0,P01,Meter Expired,Rush Hour Evening (3:30pm-5:00pm)

In [84]:
df.to_csv("../Data/timeRangedData.csv",index=False)