In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("../Data/InclMidnightData.csv", low_memory=False)

In [18]:
mask = df['Violation Code'].str.startswith('MP')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=2)

mask = df['Violation Code'].str.startswith('P')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=1)
mask = df['Violation Code'].str.startswith('M')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=1)

mask = df['Violation Code'].str.startswith('0')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=1)

df['Time Range'] = df['Time Range'].replace({'Overnight 1 (11:00pm-12:00am)': 'Overnight (11:00pm-5:30am)', 'Overnight 2 (12:00am-5:30am)': 'Overnight (11:00pm-5:30am)'})
df['Time Range'] = df['Time Range'].fillna('Overnight (11:00pm-5:30am)')

In [19]:
df.to_csv("../Data/MidnightCleanedData2.csv", index=False)
df

,Date,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description,Time Range
0,2021-11-15,Mayfair PL,"(49.8822, -97.1381)",70.0,52.5,17,Too close to a traffic sign,Overnight (11:00pm-5:30am)
1,2021-11-15,Wentworth ST,"(49.8714, -97.1612)",70.0,52.5,17,Too close to a traffic sign,Overnight (11:00pm-5:30am)
2,2021-11-15,LOT128-960 THOMAS,"(49.8987, -97.0846)",70.0,52.5,16,No Park,Overnight (11:00pm-5:30am)
3,2021-11-15,Lloyd ST,"(49.873, -97.1171)",100.0,75.0,13,Fire Hydrant,Overnight (11:00pm-5:30am)
4,2021-11-15,Haggart AVE,"(49.9497, -97.2169)",70.0,52.5,4,Oversized Vehicle,Overnight (11:00pm-5:30am)
...,...,...,...,...,...,...,...,...
590058,2023-01-02,Balmoral ST,"(49.8823, -97.1546)",100.0,75.0,69,Annual Winter Route,Overnight (11:00pm-5:30am)
590059,2023-01-02,Carlton ST,"(49.8914, -97.1446)",100.0,75.0,69,Annual Winter Route,Overnight (11:00pm-5:30am)
590060,2022-12-08,Olivia ST,"(49.9025, -97.1583)",60.0,45.0,1,Meter Expired,Overnight (11:00pm-5:30am)
590061,2022-12-09,Lombard AVE,"(49.8962, -97.1376)",70.0,52.5,12,L/Z Overtime,Overnight (11:00pm-5:30am)
590062,2023-02-05,Sinclair ST,"(49.954, -97.1327)",100.0,75.0,69,Annual Winter Route,Overnight (11:00pm-5:30am)