In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("../Data/InclMidnightData.csv", low_memory=False)

In [7]:
mask = df['Violation Code'].str.startswith('MP')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=2)

mask = df['Violation Code'].str.startswith('P')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=1)
mask = df['Violation Code'].str.startswith('M')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=1)

mask = df['Violation Code'].str.startswith('0')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=1)

df['Time Range'] = df['Time Range'].replace({'Overnight 1 (11:00pm-12:00am)': 'Overnight (11:00pm-5:30am)', 'Overnight 2 (12:00am-5:30am)': 'Overnight (11:00pm-5:30am)'})
df['Time Range'] = df['Time Range'].fillna('Overnight (11:00pm-5:30am)')

In [8]:
df.to_csv("../Data/MidnightCleanedData.csv", index=False)
df

,Date,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description,Day,Time Range
0,2021-11-15,Mayfair PL,"(49.8822, -97.1381)",70.0,52.5,17,Too close to a traffic sign,0,Overnight (11:00pm-5:30am)
1,2021-11-15,Wentworth ST,"(49.8714, -97.1612)",70.0,52.5,17,Too close to a traffic sign,0,Overnight (11:00pm-5:30am)
2,2021-11-15,LOT128-960 THOMAS,"(49.8987, -97.0846)",70.0,52.5,16,No Park,0,Overnight (11:00pm-5:30am)
3,2021-11-15,Lloyd ST,"(49.873, -97.1171)",100.0,75.0,13,Fire Hydrant,0,Overnight (11:00pm-5:30am)
4,2021-11-15,Haggart AVE,"(49.9497, -97.2169)",70.0,52.5,4,Oversized Vehicle,0,Overnight (11:00pm-5:30am)
...,...,...,...,...,...,...,...,...,...
592596,2022-12-21,Graham AVE,"(49.8905, -97.1489)",70.0,52.5,12,L/Z Overtime,2,Overnight (11:00pm-5:30am)
592597,2022-12-21,Good ST,"(49.8895, -97.1515)",60.0,45.0,1,Meter Expired,2,Overnight (11:00pm-5:30am)
592598,2022-12-21,Lombard AVE,"(49.8958, -97.1362)",60.0,45.0,1,Meter Expired,2,Overnight (11:00pm-5:30am)
592599,2023-02-26,Edison AVE,"(49.9344, -97.0692)",100.0,75.0,69,Annual Winter Route,6,Overnight (11:00pm-5:30am)
592600,2023-02-26,St Mary AVE,"(49.8902, -97.1441)",100.0,75.0,69,Annual Winter Route,6,Overnight (11:00pm-5:30am)

In [12]:
dfnoMidnight = pd.read_csv("../Data/2016_and_on_no_Midnight.csv",low_memory=False)

In [13]:
mask = dfnoMidnight['Violation Code'].str.startswith('MP')
dfnoMidnight.loc[mask, 'Violation Code'] = dfnoMidnight.loc[mask, 'Violation Code'].str.slice(start=2)

mask = dfnoMidnight['Violation Code'].str.startswith('P')
dfnoMidnight.loc[mask, 'Violation Code'] = dfnoMidnight.loc[mask, 'Violation Code'].str.slice(start=1)
mask = dfnoMidnight['Violation Code'].str.startswith('M')
dfnoMidnight.loc[mask, 'Violation Code'] = dfnoMidnight.loc[mask, 'Violation Code'].str.slice(start=1)

mask = dfnoMidnight['Violation Code'].str.startswith('0')
dfnoMidnight.loc[mask, 'Violation Code'] = dfnoMidnight.loc[mask, 'Violation Code'].str.slice(start=1)

In [14]:
dfnoMidnight.to_csv("../Data/NoMidnightCleanedData.csv", index=False)
dfnoMidnight

,Date,Time,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description,Day
0,2020-03-04,11:28:46,Hargrave ST,"(49.8898, -97.1428)",60.0,45.0,1,Meter Expired,2
1,2019-07-06,01:11:38,St Charles ST,"(49.878495, -97.320433)",70.0,52.5,4,Oversized Vehicle,5
2,2020-03-10,12:15:56,Panet RD,"(49.9022, -97.0701)",100.0,75.0,9,Too close/in an intersection,1
3,2019-06-28,18:07:46,Corydon AVE,"(49.87113, -97.152496)",70.0,52.5,6,No Stop,4
4,2020-03-25,08:37:49,Hargrave ST,"(49.8855, -97.1402)",60.0,45.0,1,Meter Expired,2
...,...,...,...,...,...,...,...,...,...
493018,2019-06-08,11:44:53,Pembina HWY,"(49.8357733, -97.150816)",100.0,75.0,9,Too close/in an intersection,5
493019,2019-05-28,20:41:31,Martha ST,"(49.9008383, -97.13548)",70.0,52.5,17,Too close to a traffic sign,1
493020,2019-06-05,21:17:06,Rothesay ST,"(49.9374583, -97.080105)",70.0,52.5,19,Crosswalk (MRKD/UNMRKD),2
493021,2019-05-16,16:59:59,McDermot AVE,"(49.897315, -97.140835)",60.0,45.0,1,Meter Expired,3
493022,2019-06-12,15:49:53,Dagmar ST,"(49.899025, -97.145611)",60.0,45.0,1,Meter Expired,2