In [62]:
import pandas as pd

In [63]:
df = pd.read_csv("../Data/noMidnightData.csv", low_memory=False)

In [64]:
mask = df['Violation Code'].str.startswith('MP')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=2)
mask = df['Violation Code'].str[0]=='P'
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=1)
mask = df['Violation Code'].str[0]=='M'
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=1)
mask = df['Violation Code'].str[0]=='0'
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(start=1)
print(df["Violation Code"].unique())

['1' '4' '9' '6' '3' '30' '24' '5' '19' '12' '28' '13' '20' '39' '17' '16'
 '18' '62' '2' '21' '54' '10' '14' '7' '38' '22' '25' '15' '64' '37' '51'
 '65' '26' '58' '11' '23' '31' '48' '52' '55' '56' '8' '53' '34' '32' '33'
 '27' '35' '41' '29' '42' '36' '40' '63']

In [65]:
df.to_csv("../Data/noMidnightCleanedData.csv", index=False)
df

,Date,Time,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description,Day,Time Range
0,2020-03-04,1900-01-01 11:28:46,Hargrave ST,"(49.8898, -97.1428)",60.0,45.0,1,Meter Expired,2,Daytime (9:00am-3:30pm)
1,2019-07-06,1900-01-01 01:11:38,St Charles ST,"(49.878495, -97.320433)",70.0,52.5,4,Oversized Vehicle,5,Overnight (11:00pm-5:30am)
2,2020-03-10,1900-01-01 12:15:56,Panet RD,"(49.9022, -97.0701)",100.0,75.0,9,Too close/in an intersection,1,Daytime (9:00am-3:30pm)
3,2019-06-28,1900-01-01 18:07:46,Corydon AVE,"(49.87113, -97.152496)",70.0,52.5,6,No Stop,4,Evening (5:00pm-11:00pm)
4,2020-03-25,1900-01-01 08:37:49,Hargrave ST,"(49.8855, -97.1402)",60.0,45.0,1,Meter Expired,2,Rush Hour Morning (7:30am-9:00am)
...,...,...,...,...,...,...,...,...,...,...
493018,2019-06-08,1900-01-01 11:44:53,Pembina HWY,"(49.8357733, -97.150816)",100.0,75.0,9,Too close/in an intersection,5,Daytime (9:00am-3:30pm)
493019,2019-05-28,1900-01-01 20:41:31,Martha ST,"(49.9008383, -97.13548)",70.0,52.5,17,Too close to a traffic sign,1,Evening (5:00pm-11:00pm)
493020,2019-06-05,1900-01-01 21:17:06,Rothesay ST,"(49.9374583, -97.080105)",70.0,52.5,19,Crosswalk (MRKD/UNMRKD),2,Evening (5:00pm-11:00pm)
493021,2019-05-16,1900-01-01 16:59:59,McDermot AVE,"(49.897315, -97.140835)",60.0,45.0,1,Meter Expired,3,Rush Hour Evening (3:30pm-5:00pm)
493022,2019-06-12,1900-01-01 15:49:53,Dagmar ST,"(49.899025, -97.145611)",60.0,45.0,1,Meter Expired,2,Rush Hour Evening (3:30pm-5:00pm)

In [66]:
dfwithMidnight = pd.read_csv("../Data/2016_and_on.csv",low_memory=False)

In [67]:
mask = dfwithMidnight['Violation Code'].str.startswith('MP')
dfwithMidnight.loc[mask, 'Violation Code'] = dfwithMidnight.loc[mask, 'Violation Code'].str.slice(start=2)

mask = dfwithMidnight['Violation Code'].str[0]=='P'
dfwithMidnight.loc[mask, 'Violation Code'] = dfwithMidnight.loc[mask, 'Violation Code'].str.slice(start=1)
mask = dfwithMidnight['Violation Code'].str[0]=='M'
dfwithMidnight.loc[mask, 'Violation Code'] = dfwithMidnight.loc[mask, 'Violation Code'].str.slice(start=1)

mask = dfwithMidnight['Violation Code'].str[0]=='0'
dfwithMidnight.loc[mask, 'Violation Code'] = dfwithMidnight.loc[mask, 'Violation Code'].str.slice(start=1)

In [68]:
dfwithMidnight.to_csv("../Data/midnightCleanedData.csv", index=False)
dfwithMidnight

,Date,Time,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description,Day
0,2021-11-15,00:00:00,Mayfair PL,"(49.8822, -97.1381)",70.0,52.5,17,Too close to a traffic sign,0
1,2021-11-15,00:00:00,Wentworth ST,"(49.8714, -97.1612)",70.0,52.5,17,Too close to a traffic sign,0
2,2021-11-15,00:00:00,LOT128-960 THOMAS,"(49.8987, -97.0846)",70.0,52.5,16,No Park,0
3,2021-11-15,00:00:00,Lloyd ST,"(49.873, -97.1171)",100.0,75.0,13,Fire Hydrant,0
4,2021-11-15,00:00:00,Haggart AVE,"(49.9497, -97.2169)",70.0,52.5,4,Oversized Vehicle,0
...,...,...,...,...,...,...,...,...,...
592596,2022-12-21,00:00:00,Graham AVE,"(49.8905, -97.1489)",70.0,52.5,12,L/Z Overtime,2
592597,2022-12-21,00:00:00,Good ST,"(49.8895, -97.1515)",60.0,45.0,1,Meter Expired,2
592598,2022-12-21,00:00:00,Lombard AVE,"(49.8958, -97.1362)",60.0,45.0,1,Meter Expired,2
592599,2023-02-26,00:00:00,Edison AVE,"(49.9344, -97.0692)",100.0,75.0,69,Annual Winter Route,6
592600,2023-02-26,00:00:00,St Mary AVE,"(49.8902, -97.1441)",100.0,75.0,69,Annual Winter Route,6