In [30]:
import pandas as pd

In [31]:
# use the data.rar file and extract it to data.csv file
# needs to be done manually, make sure data.csv file is in the Data folder
df = pd.read_csv("../Data/data.csv",low_memory=False)

In [32]:
# drop location rows that are null or have (0, 0)
df.drop(df[df['Location'].isnull()].index, inplace = True)
df.drop(df[df['Location']== "(0.0, 0.0)"].index, inplace = True)

# drop the point column
df = df.drop("Point",axis=1)

# separate date and time to two columns
df['Date'] = pd.to_datetime(df['Issue Date']).dt.date
df['Time'] = pd.to_datetime(df['Issue Date']).dt.time
df = df.drop("Issue Date",axis=1)

print(df)

                              Violation             Street  \
0        P17Too close to a traffic sign         Mayfair PL
1        P17Too close to a traffic sign       Wentworth ST
2                            P16No Park  LOT128-960 THOMAS
3                       P13Fire Hydrant           Lloyd ST
4                  P04Oversized Vehicle        Haggart AVE
...                                 ...                ...
1836961                 P12L/Z Overtime         Graham AVE
1836964                P01Meter Expired            Good ST
1836969                P01Meter Expired        Lombard AVE
1837039          P69Annual Winter Route         Edison AVE
1837040          P69Annual Winter Route        St Mary AVE

                    Location  Discounted Fine  Full Fine        Date      Time
0        (49.8822, -97.1381)             52.5       70.0  2021-11-15  00:00:00
1        (49.8714, -97.1612)             52.5       70.0  2021-11-15  00:00:00
2        (49.8987, -97.0846)             52.5       70.0  2021-11-15  00:00:00
3         (49.873, -97.1171)             75.0      100.0  2021-11-15  00:00:00
4        (49.9497, -97.2169)             52.5       70.0  2021-11-15  00:00:00
...                      ...              ...        ...         ...       ...
1836961  (49.8905, -97.1489)             52.5       70.0  2022-12-21  00:00:00
1836964  (49.8895, -97.1515)             45.0       60.0  2022-12-21  00:00:00
1836969  (49.8958, -97.1362)             45.0       60.0  2022-12-21  00:00:00
1837039  (49.9344, -97.0692)             75.0      100.0  2023-02-26  00:00:00
1837040  (49.8902, -97.1441)             75.0      100.0  2023-02-26  00:00:00

[912455 rows x 7 columns]

In [33]:
# separate violation code and violation description to two columns
df['Violation Code'] = df.loc[:, 'Violation']
df['Violation Description'] = df.loc[:, 'Violation']

mask = df['Violation Code'].str.startswith('M_CMI67(1)')
df.loc[mask, 'Violation Code'] = "M_CMI67(1)"
df.loc[mask, 'Violation Description'] = "Noise nuisance"

mask = df['Violation Code'].str[0].str.isdigit()
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(stop=2)
df.loc[mask, 'Violation Description'] = df.loc[mask, 'Violation Description'].str.slice(start=2).str.strip()

mask = df['Violation Code'].str.startswith('MP')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(stop=4)
df.loc[mask, 'Violation Description'] = df.loc[mask, 'Violation Description'].str.slice(start=4).str.strip()

mask = df['Violation Code'].str.startswith('M') & ~df['Violation Code'].str.startswith('MP')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(stop=3)
df.loc[mask, 'Violation Description'] = df.loc[mask, 'Violation Description'].str.slice(start=4).str.strip()

mask = df['Violation Description'].str[0]=='-'
df.loc[mask, 'Violation Description'] = df.loc[mask, 'Violation Description'].str.slice(start=1)

mask = df['Violation Code'].str.startswith('P')
df.loc[mask, 'Violation Code'] = df.loc[mask, 'Violation Code'].str.slice(stop=3)
df.loc[mask, 'Violation Description'] = df.loc[mask, 'Violation Description'].str.slice(start=3).str.strip()

print(df)

                              Violation             Street  \
0        P17Too close to a traffic sign         Mayfair PL
1        P17Too close to a traffic sign       Wentworth ST
2                            P16No Park  LOT128-960 THOMAS
3                       P13Fire Hydrant           Lloyd ST
4                  P04Oversized Vehicle        Haggart AVE
...                                 ...                ...
1836961                 P12L/Z Overtime         Graham AVE
1836964                P01Meter Expired            Good ST
1836969                P01Meter Expired        Lombard AVE
1837039          P69Annual Winter Route         Edison AVE
1837040          P69Annual Winter Route        St Mary AVE

                    Location  Discounted Fine  Full Fine        Date  \
0        (49.8822, -97.1381)             52.5       70.0  2021-11-15
1        (49.8714, -97.1612)             52.5       70.0  2021-11-15
2        (49.8987, -97.0846)             52.5       70.0  2021-11-15
3         (49.873, -97.1171)             75.0      100.0  2021-11-15
4        (49.9497, -97.2169)             52.5       70.0  2021-11-15
...                      ...              ...        ...         ...
1836961  (49.8905, -97.1489)             52.5       70.0  2022-12-21
1836964  (49.8895, -97.1515)             45.0       60.0  2022-12-21
1836969  (49.8958, -97.1362)             45.0       60.0  2022-12-21
1837039  (49.9344, -97.0692)             75.0      100.0  2023-02-26
1837040  (49.8902, -97.1441)             75.0      100.0  2023-02-26

             Time Violation Code        Violation Description
0        00:00:00            P17  Too close to a traffic sign
1        00:00:00            P17  Too close to a traffic sign
2        00:00:00            P16                      No Park
3        00:00:00            P13                 Fire Hydrant
4        00:00:00            P04            Oversized Vehicle
...           ...            ...                          ...
1836961  00:00:00            P12                 L/Z Overtime
1836964  00:00:00            P01                Meter Expired
1836969  00:00:00            P01                Meter Expired
1837039  00:00:00            P69          Annual Winter Route
1837040  00:00:00            P69          Annual Winter Route

[912455 rows x 9 columns]

In [42]:
df["Violation Code"].unique()

array(['P17', 'P16', 'P13', 'P04', 'P03', 'P06', 'P09', 'P12', 'P30',
       'P64', 'P01', 'P02', 'P05', 'P15', 'P21', 'P20', 'P14', 'P62',
       'P24', 'P54', 'P10', 'P25', 'P19', 'MP03', 'P07', 'P23', 'P39',
       'P18', 'P26', 'P51', 'P67', 'MP05', 'P11', 'P28', 'P58', 'MP16',
       'P65', 'MP06', 'P37', 'P22', 'MP37', 'MP39', 'P45', 'P34', 'MP22',
       'MP24', 'MP26', 'P31', 'P69', 'P68', 'P08', 'P55', 'P53', 'P40',
       'P38', 'MP25', 'P48', 'P52', 'P56', '02', '37', '01', '12', '39',
       '05', '06', '03', '17', 'MP20', '16', '38', '15', '13', '09', '19',
       '07', '11', '08', '14', '20', '28', '34', '32', '18', '33', '27',
       '35', '41', '23', '29', '22', '31', '24', '42', '10', '04', '36',
       '21', '25', '40', '62', '30', '26', '56', '54', '55', '52', '51',
       '63', 'M06', '58', 'M20', 'M24', 'M26', 'M22', 'M16', 'M23', 'M39',
       '64', 'P33', 'P32', 'P41', 'P60'], dtype=object)

In [43]:
# drop the Violation column
df = df.drop("Violation",axis=1)

print(df.columns)

KeyError: "['Violation'] not found in axis"

In [ ]:
# rename the Full Fine to Fine
df.rename(columns={'Full Fine': 'Fine'}, inplace=True)

# reorder the columns
df = df[['Date', 'Time', 'Street', 'Location', 'Fine', 'Discounted Fine', 'Violation Code', 'Violation Description']]
print(df)

               Date      Time             Street             Location   Fine  \
0        2021-11-15  00:00:00         Mayfair PL  (49.8822, -97.1381)   70.0
1        2021-11-15  00:00:00       Wentworth ST  (49.8714, -97.1612)   70.0
2        2021-11-15  00:00:00  LOT128-960 THOMAS  (49.8987, -97.0846)   70.0
3        2021-11-15  00:00:00           Lloyd ST   (49.873, -97.1171)  100.0
4        2021-11-15  00:00:00        Haggart AVE  (49.9497, -97.2169)   70.0
...             ...       ...                ...                  ...    ...
1836961  2022-12-21  00:00:00         Graham AVE  (49.8905, -97.1489)   70.0
1836964  2022-12-21  00:00:00            Good ST  (49.8895, -97.1515)   60.0
1836969  2022-12-21  00:00:00        Lombard AVE  (49.8958, -97.1362)   60.0
1837039  2023-02-26  00:00:00         Edison AVE  (49.9344, -97.0692)  100.0
1837040  2023-02-26  00:00:00        St Mary AVE  (49.8902, -97.1441)  100.0

         Discounted Fine Violation Code        Violation Description
0                   52.5            P17  Too close to a traffic sign
1                   52.5            P17  Too close to a traffic sign
2                   52.5            P16                      No Park
3                   75.0            P13                 Fire Hydrant
4                   52.5            P04            Oversized Vehicle
...                  ...            ...                          ...
1836961             52.5            P12                 L/Z Overtime
1836964             45.0            P01                Meter Expired
1836969             45.0            P01                Meter Expired
1837039             75.0            P69          Annual Winter Route
1837040             75.0            P69          Annual Winter Route

[912455 rows x 8 columns]

In [ ]:
# remove rows before 2016
df['Date'] = pd.to_datetime(df['Date']) 

df = df.loc[(df['Date'] >= '2016-01-01')]
print(df)

              Date      Time             Street             Location   Fine  \
0       2021-11-15  00:00:00         Mayfair PL  (49.8822, -97.1381)   70.0
1       2021-11-15  00:00:00       Wentworth ST  (49.8714, -97.1612)   70.0
2       2021-11-15  00:00:00  LOT128-960 THOMAS  (49.8987, -97.0846)   70.0
3       2021-11-15  00:00:00           Lloyd ST   (49.873, -97.1171)  100.0
4       2021-11-15  00:00:00        Haggart AVE  (49.9497, -97.2169)   70.0
...            ...       ...                ...                  ...    ...
1836961 2022-12-21  00:00:00         Graham AVE  (49.8905, -97.1489)   70.0
1836964 2022-12-21  00:00:00            Good ST  (49.8895, -97.1515)   60.0
1836969 2022-12-21  00:00:00        Lombard AVE  (49.8958, -97.1362)   60.0
1837039 2023-02-26  00:00:00         Edison AVE  (49.9344, -97.0692)  100.0
1837040 2023-02-26  00:00:00        St Mary AVE  (49.8902, -97.1441)  100.0

         Discounted Fine Violation Code        Violation Description
0                   52.5            P17  Too close to a traffic sign
1                   52.5            P17  Too close to a traffic sign
2                   52.5            P16                      No Park
3                   75.0            P13                 Fire Hydrant
4                   52.5            P04            Oversized Vehicle
...                  ...            ...                          ...
1836961             52.5            P12                 L/Z Overtime
1836964             45.0            P01                Meter Expired
1836969             45.0            P01                Meter Expired
1837039             75.0            P69          Annual Winter Route
1837040             75.0            P69          Annual Winter Route

[592601 rows x 8 columns]

In [44]:
df["Day"] = df["Date"].dt.dayofweek

In [45]:
index = df['Time'] != pd.Timestamp('00:00:00').time()
dfNoMidnight = df[index]
dfNoMidnight

,Date,Time,Street,Location,Fine,Discounted Fine,Violation Code,Violation Description,Day
147812,2020-03-04,11:28:46,Hargrave ST,"(49.8898, -97.1428)",60.0,45.0,P01,Meter Expired,2
147827,2019-07-06,01:11:38,St Charles ST,"(49.878495, -97.320433)",70.0,52.5,P04,Oversized Vehicle,5
147830,2020-03-10,12:15:56,Panet RD,"(49.9022, -97.0701)",100.0,75.0,P09,Too close/in an intersection,1
147854,2019-06-28,18:07:46,Corydon AVE,"(49.87113, -97.152496)",70.0,52.5,P06,No Stop,4
147876,2020-03-25,08:37:49,Hargrave ST,"(49.8855, -97.1402)",60.0,45.0,P01,Meter Expired,2
...,...,...,...,...,...,...,...,...,...
1752776,2019-06-08,11:44:53,Pembina HWY,"(49.8357733, -97.150816)",100.0,75.0,P09,Too close/in an intersection,5
1752779,2019-05-28,20:41:31,Martha ST,"(49.9008383, -97.13548)",70.0,52.5,P17,Too close to a traffic sign,1
1752781,2019-06-05,21:17:06,Rothesay ST,"(49.9374583, -97.080105)",70.0,52.5,P19,Crosswalk (MRKD/UNMRKD),2
1752783,2019-05-16,16:59:59,McDermot AVE,"(49.897315, -97.140835)",60.0,45.0,P01,Meter Expired,3
1752785,2019-06-12,15:49:53,Dagmar ST,"(49.899025, -97.145611)",60.0,45.0,P01,Meter Expired,2

In [46]:
# convert df to csv file
df.to_csv("../Data/2016_and_on.csv")

In [47]:
dfNoMidnight.to_csv("../Data/2016_and_on_no_Midnight.csv", index=False)